### Libraries

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from datetime import datetime
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import metrics
import numpy as np
import warnings
%matplotlib inline
warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

### Loading data

In [2]:
df = pd.read_csv('cleaned_data.csv')
df.head(5)

,Unnamed: 0,brand,model,color,year,car_age,price_in_euro,power_kw,power price ratio,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km
0,0,0,14,9,1995,29,1300,0.302221,0.113846,1,9,2.448925,260.000000,0.954583
1,1,0,7,1,1995,29,24900,0.899137,0.007671,1,9,0.509069,162.294702,1.329361
2,2,0,18,1,1995,29,5900,-0.225286,0.018644,2,9,0.509069,162.294702,0.554396
3,3,0,18,1,1995,29,4900,-0.225286,0.022449,1,9,1.762005,225.000000,1.323009
4,4,0,7,9,1996,28,17950,0.080113,0.007354,1,9,0.633493,162.294702,0.136766

In [3]:
X=df.drop(labels=['price_in_euro'],axis=1)
y=df['price_in_euro']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=4)

### Building models

In [5]:
lm = LinearRegression()
lm.fit(X_train,y_train)

preds_lm_gdp = lm.predict(X_test)
print('MAE:', metrics.mean_absolute_error(y_test, preds_lm_gdp))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, preds_lm_gdp)))
print('R2_Score: ', metrics.r2_score(y_test, preds_lm_gdp))

MAE: 9741.560485846981
RMSE: 26344.773456676452
R2_Score:  0.47461334909514774